.footer {
  padding: 20px;
  overflow-x: hidden;
  background-color: var(--footer-color);
  justify-content: space-evenly;
  align-items: center;
}
.social-icons {
  justify-content: space-around;
  width: 20px;
  height: 20px;
}
.social {
  gap: 30px;
  justify-content: space-around;
  width: 20px;
  height: 20px;
}
.footer-links {
  align-items: center;
  gap: 40px;
}
@media (max-width: 823px) {
  .footer {
    padding: 50px;
    flex-direction: column;
    gap: 20px;
  }
  .link {
    text-align: center;
  }
}
