.company {
  height: 250px;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}
.text-line {
  font-size: 20px;
}
.company-img {
  flex-wrap: wrap;
  margin: 20px 0 0 0;
  justify-content: space-between;
}
.company-img img {
  width: 150px;
  height: 55px;
}
.fiveth {
  width: 50px !important;
}
.one {
  width: 120px !important;
}
.third {
  width: 170px !important;
  height: 45px;
}
