@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&family=Roboto:wght@400;700&display=swap");

/* resets */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  --primary-text-color: #183b56;
  --secondary-text-color: #577592;
  --accent-color: #2294ed;
  --accent-color-dark: #1d69a3;
  --padding-inline-section: 20px;
}
body {
  font-family: "Poppins", "Sans-serif";
  color: var(--primary-text-color);
}
h1 {
  font-size: 3rem;
}

h2 {
  font-size: 2rem;
}

h3 {
  font-size: 1.5rem;
}
p {
  font-family: "Roboto", "sans-serif";
  font-size: 1.25rem;
  color: var(--secondary-text-color);
  line-height: 1.8rem;
}
a {
  text-decoration: none;
  /* display: inline-block; */
}
ul {
  list-style: none;
}

/* ------------------------------------------------------------------------------------------------ */

/* utility classes */
.small-bold-text {
  font-size: 1rem;
  font-weight: 500;
}
.container {
  max-width: 1300px;
  margin-inline: auto;
  padding-inline: var(--padding-inline-section);
}
.flex {
  display: flex;
  /* align-items: center; */
}

.hover-link {
  color: var(--primary-text-color);
  transition: 0.2s ease-out;
}
.hover-link:hover {
  color: var(--accent-color);
}

.primary-btn {
  border-radius: 6px;
  background-color: var(--accent-color);
  color: white !important;
  font-weight: 500;
  padding: 9px var(--padding-inline-section);
  transition: 0.2s ease-out;
  box-shadow: 0 0 1px var(--secondary-text-color);
}
.primary-btn:hover {
  background-color: var(--accent-color-dark);
}
.secondary-btn {
  font-weight: 500;
  font-size: 16px;
  border: 0.1px solid var(--secondary-text-color);
  border-radius: 6px;
  color: var(--primary-text-color);
  transition: 0.2s ease-out;
  padding: 9px var(--padding-inline-section);
}
.secondary-btn:hover {
  color: var(--accent-color);
  border: 1px solid var(--accent-color);
}
