.example-main {
  margin-top: 100px;
}
.example-header {
  flex-direction: column;
  text-align: center;
  align-items: center;
  justify-content: center;
  gap: 20px;
  word-spacing: 2px;
}

.examples-area {
  justify-content: space-between;
  margin-block: 20px;
}
.example-cards {
  background-color: black;
  width: 23%;
  min-height: 300px;
  position: relative;
  gap: 20px;
}
.card-text {
  position: absolute;
  bottom: 20px;
  left: 20px;
  right: 20px;
  color: white;
}
