.main-nav {
  justify-content: space-between;
  align-items: center;
  margin-top: 30px;
}
img {
  width: 200px;
}
.nav-links ul {
  gap: 40px;
}
.company-logo {
  align-items: center;
  justify-content: center;
  gap: 12px;
}
.become-tester {
  width: 170px;
  height: 50px;
}
.become-tester-text {
  position: absolute;
  margin-left: 220px;
  font-size: 16px;
  font-weight: 500;
}
.burger-menu {
  display: none;
}
/* Responsive Code */

@media (max-width: 1158px) {
  .main-nav {
    overflow-x: hidden;
  }
  #sign-in,
  #try-for-free,
  .nav-links ul {
    display: none;
  }
  .burger-menu {
    display: flex;
    justify-content: space-between;
  }
}
