.sub-footer-section {
  overflow-x: hidden;
  background-color: #ebf2fa;
  padding: 5%;
}
.main-col {
  gap: 10%;
  justify-content: center;
}

.list-header {
  flex-direction: column;
  gap: 8px;
}
/* .lists {
  word-spacing: 1px;
  font-size: 18px;
  font-weight: 600;
  color: var(--primary-text-color);
} */
.list-heading {
  word-spacing: 1px;
  font-size: 18px;
  font-weight: 600;
  color: var(--primary-text-color);
}
@media (max-width: 775px) {
  .main-col {
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .list-header {
    text-align: center;
  }
  .main-col {
    gap: 30px;
  }
}
