.feature-header {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 130px;
  gap: 20px;
}
.feature-list {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  width: 100%;
}
.card {
  margin: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.card-info {
  margin: 12px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.card-info img {
  margin: 10px;
  width: 50px;
  text-align: center;
}
.card-info p {
  padding: 12px;
  line-height: 1.7;
  text-align: center;
}
.learn-btn img {
  margin-left: 9px;
  width: 15px;
  gap: 12px;
}
